<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="grille" class="fr.nnyimc.metier.GrilleProgramme" />
    <bean id="fiction" class="fr.nnyimc.metier.Fiction"/>
    <bean id="divertissement" class="fr.nnyimc.metier.Divertissement" />
    <bean id="repAnim" class="fr.nnyimc.metier.ReportageAnimalier" />
    <bean id="repCult" class="fr.nnyimc.metier.ReportageCulturel" />
    <bean id="repInfo" class="fr.nnyimc.metier.ReportageInformation" />
</beans>